<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @recipe.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @recipe.address %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
