<p id="notice"><%= notice %></p>

<h1>Colleages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Address</th>
      <th>Phonenumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @colleages.each do |colleage| %>
      <tr>
        <td><%= colleage.name %></td>
        <td><%= colleage.city %></td>
        <td><%= colleage.address %></td>
        <td><%= colleage.phonenumber %></td>
        <td><%= link_to 'Show', colleage %></td>
        <td><%= link_to 'Edit', edit_colleage_path(colleage) %></td>
        <td><%= link_to 'Destroy', colleage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>





<%= link_to 'New Colleage', new_colleage_path %>
